<p>
  <strong>Name:</strong>
  <%= @address.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @address.Phone_Number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<h2>Reviews</h2>
<% @address.reviews.each do |review| %>
<p>
  <strong>Name:</strong>
  <%= review.name %>
</p>

<p>
  <strong>Review:</strong>
  <%= review.body %>
</p>
<% end %>

<h3>Add a review:</h2>
<%= form_for([@address, @address.reviews.build]) do |f| %>
<p>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :body %>
  <br>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
<div id="link">
  <%= link_to 'Back', addresses_path %>
</div>
