<p>
  <strong>Name:</strong>
  <%= @address.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @address.Phone_Number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<div id="link">
  <%= link_to 'Back', addresses_path %>
</div>
